$height-header: 70px;
$height-footer: 100px;

$big-shadow:
3px 3px 0px black,
5px 5px 0px black,
7px 7px 0px black,
9px 9px 0px black,
11px 11px 0px black;

$slightly-smaller-shadow:
3px 3px 0px black,
5px 5px 0px black,
7px 7px 0px black,
9px 9px 0px black;



body {
    font-family: sans-serif;
    background-color: #0b2191;
    background-image: url("../img/background.jpg");
    color: white;
}

#logo-jeopardy-shadow {
    position: absolute;
    z-index: -1;
    filter: brightness(0) blur(2px) opacity(0.6);
    transform: translateY(35px) scale(0.9);
}

div#spinner {
    border: 10px solid rgba(255, 255, 255, 0.2);
    border-left-color: white;
    animation: spin 0.5s infinite linear;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    position: absolute;
    box-sizing: border-box;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


$color-dollars: #e3a147;


div#paused {
    background-color: #ffa900;
    color: black;
    font-weight: bold;
    position: absolute;
    font-size: 30px;
    border-radius: 20px;
    padding: 20px;
    border: 1px solid darkorange;
    text-shadow: 3px 3px rgba(0,0,0,0.2);
    filter: drop-shadow(10px 13px rgba(0,0,0,0.4));
}

header {
    height: $height-header;
    font-family: swiss911;
    font-size: 60px;
    letter-spacing: 2px;
    text-shadow: $big-shadow;

    div#category {
        text-transform: uppercase;
        display: inline-block;
    }

    div#dollars {
        color: $color-dollars;
        display: inline-block;
        position: absolute;
        right: 8px;
    }
}

main {
    height: calc(100vh - #{$height-header} - #{$height-footer});
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 100px;

    div#pre-question {
        font-family: swiss911;
        text-shadow: $big-shadow;
        font-size: 80px;
        text-align: center;
        text-transform: uppercase;

        div#dollars-big {
            color: $color-dollars;
        }

    }

    div#clue {
        text-align: center;
        font-family: korinna;
        font-size: 80px;
        text-transform: uppercase;
        text-shadow: $big-shadow;

    }

    div#clue-answer {
        text-shadow: $slightly-smaller-shadow;
        font-size: 60px;
    }

}

footer {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    width: 100%;
    position: absolute;
    bottom: 0px;
    height: $height-footer;

    div.team {
        padding: 10px;
        text-align: center;
        flex: 1;

        &.buzzer-closed {
            opacity: 0.4;
        }

        div.team-dollars {
            font-family: swiss911;
            font-size: 30px;
            text-shadow: 3px 3px 0px black;
        }

        div.team-name {
            /*! supress netbeans warning */
        }

        table.countdown-dots {
            margin-left: auto;
            margin-right: auto;
            border-collapse: collapse;
            margin-bottom: 10px;
            td {
                border: 2px solid gray;
                width: 14px;
                height: 8px;
            }
        }

    }   


}

img#cost-chart {
    $offset: 1px;
    filter:
        drop-shadow($offset $offset 0px black)
        drop-shadow($offset $offset 0px black)
        drop-shadow($offset $offset 0px black)
        drop-shadow($offset $offset 0px black)
        drop-shadow($offset $offset 0px black)
        drop-shadow($offset $offset 0px black)
        drop-shadow($offset $offset 0px black)
        drop-shadow($offset $offset 0px black)
        drop-shadow($offset $offset 0px black)
        drop-shadow($offset $offset 0px black)
        drop-shadow($offset $offset 0px black)
        drop-shadow($offset $offset 0px black)
        ;
}

div.page {
    display: none;
}