svg#buzz-history {
    background: white;

    text.team-name {
        fill: black;
        font-size: 20px;
    }

    g#axis {
        g.tick text {
            fill: black;
            font-size: 20px;
        }

        path.domain,
        g.tick line {
            stroke: black;
        }
    }

    g#grid {

        g.tick text,
        path.domain {
            display: none;
        }

        g.tick line {
            stroke: gray;
            stroke-dasharray: 2, 2;
        }
    }

    rect.row-shaded-background-even {
        fill: #eee;
    }

    rect.row-shaded-background-odd {
        fill: white;
    }

    line.row-separator,
    line.vertical-line {
        stroke: black;
        stroke-width: 1;
    }

    g.annotation path {
        stroke-linecap: round;
        stroke: black;
        fill: none;
    }

    rect.buzz-record {
        stroke: black;
        stroke-width: 1;

        &.too-early-start-lockout {
            fill: orange;
        }

        &.answered-right {
            fill: green;
        }

        &.answered-wrong {
            fill: red;
        }
    }

    circle.buzzer-press {
        fill: black;
        stroke-width: 0;
    }
}