table#game-board {
    width: 100%;

    td {
        border: 1px solid var(--light-foreground-color);
    }

    tr#categories {
        height: 70px;
    }

    tr.clues td {
        padding: 15px;
    }
}

body:not(.paused) tr.clues td[data-clue-state="available"] {
    &:hover {
        background-color: #444400;
        font-weight: bold;
        cursor: pointer;
    }

    &:active {
        background-color: white;
        color: black;
    }

}