table#gameBoard {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;

    td {
        border: 1px solid var(--light-foreground-color);
        text-align: center;
        vertical-align: middle;
    }

    tr#categories td.abcd {
        font-weight: bold;
    }

    tr.clues td {

        &[data-clue-revealed="no"] {

            /* background-color: #333; */

            &:hover {
                background-color: #444400;
                cursor: pointer;
                font-weight: bold;
            }

            &:active {
                background-color: #666600;
            }

        }

        &[data-clue-revealed="yes"] {
            visibility: hidden;
        }

    }

    tr#categories {
        height: 70px;
    }
}