:root {
    --light-foreground-color: #ddd;
    --dark-background-color: #222;
}

body {
    font-family: sans-serif;
    --font-size: 20px;
    font-size: var(--font-size);

    background: var(--dark-background-color);
    color: var(--light-foreground-color);

}

table {
    border-collapse: collapse;
}

a:not(:active):visited {
    color: darkviolet;
}

a:not(:active):not(:visited) {
    color: dodgerblue;
}

main {
    line-height: 150%;
    margin: 5px;

    input,
    button {
        font-size: inherit;
    }

    input[type="number"],
    input[type="text"] {
        background: var(--dark-background-color);
        color: var(--light-foreground-color);
    }

    input[type="checkbox"] {
        width: var(--font-size);
        height: var(--font-size);
    }

    div.tab-content {

        /**************************************************/
        &#tab-content-play {

            div#operator-reads-this {
                font-size: 30px;
                line-height: initial;
            }

            div#controls {
                display: flex;

                span#money-override-wrapper {
                    flex-grow: 2;
                    text-align: right;
                }
            }

            div#clue-wrapper {

                table td:first-of-type {
                    padding-right: 10px;
                    text-align: right;
                    vertical-align: top;
                }

                span.clue-keyword {
                    font-weight: bold;
                }
            }

            div#special-category-prompt {
                background-color: #999900;
                color: var(--dark-background-color);
                padding: 10px;
                margin-top: 10px;
                border: 1px solid #c7d11e;
                border-radius: 5px;
            }

            div#game-round-timer-wrapper,
            div#current-state-wrapper {
                display: flex;
            }

            button#add-one-minute {
                height: 30px;
            }

            div#current-state,
            div#game-round-timer {
                flex-grow: 2;
                position: relative;

                progress {
                    width: 100%;
                    height: 30px;

                }

                div {
                    position: absolute;
                    top: 0px;

                    &.label-on-progress {
                        left: 5px;
                    }

                    &.remaining-time-text {
                        right: 5px;
                    }
                }
            }

            div#game-end-popup-buttons {
                margin-top: 30px;
                margin-bottom: 40px;
            }
        }

        /**************************************************/
        &#tab-content-team-setup {

            input[type="number"]#team-count {
                width: 50px;
            }

            td {
                border: 1px solid var(--light-foreground-color);
                padding: 5px 10px 5px 10px;
            }


        }

        /**************************************************/
        &#tab-content-load-game table#saved-game-details {
            td {
                border: 1px solid var(--light-foreground-color);
                padding: 5px 10px 5px 10px;
            }
        }

        /**************************************************/
        &#tab-content-music table {

            /*
            In Firefox, <audio> elements in a grid seems messed up (tries to be very tall)
            so I'm using a <table> instead of grid layout.
            */

            td:first-of-type {
                padding: 10px 10px 10px 0px;
                text-align: right;
                text-wrap: nowrap;
                vertical-align: middle;
            }

            td:nth-of-type(2) {
                width: 100%;

                audio {
                    vertical-align: middle;
                    width: 100%;
                }
            }

        }

        /**************************************************/
        &.content-game-settings table#table-settings {
            td {
                padding-bottom: 20px;
            }

            input[type="number"] {
                width: 100px;
                text-align: right;
            }

        }

        /**************************************************/
    }
}

footer {

    div.team {

        padding: 5px;

        &[data-team-state="answering"] {
            background-color: var(--light-foreground-color);
            font-weight: bold;
            color: var(--dark-background-color);
        }



        &:not([data-team-state="answering"]) progress {
            visibility: hidden;
        }

        div.team-state {
            font-size: 15px;
        }

        progress {
            /* decrease height */
            font-size: initial;

            width: 100%;
        }

    }
}