div.overlay-popup {

    --popup-text-color: var(--dark-background-color);

    &#special-category-popup {
        --special-category-popup-background-color: #dddd11;
    }

    /* In the presentation window, the game end stuff in a presentation slide not a popup. */
    &#game-end-popup {
        background: #dddddd;

        div#game-end-popup-buttons {

            margin-bottom: 40px;

            /* For some reason, just putting buttons next to each
            other makes them have different vertical alignment */
            display: flex;
            column-gap: 10px;

            button {
                width: 60px;
                height: 60px;
                padding: 4px;

                img {
                    width: 100%;
                    height: 100%;
                }

                &#show-team-ranking-table {
                    white-space: nowrap;
                    overflow: hidden;
                    font-size: 8px;
                    text-align: left;
                    color: #222;
                }
            }

        }

        div#team-ranking-wrapper table {
            td {
                font-size: 40px;
                padding-right: 60px;

                &:nth-of-type(2) {
                    text-align: right;
                }
            }
        }

        &[data-show-game-end-item="team-ranking-table"] {
            div#team-ranking-wrapper {
                display: block;
            }

            div#line-chart {
                display: none;
            }

            div#pie-chart-wrapper {
                display: none;
            }
        }

        &[data-show-game-end-item="line-chart"] {
            div#team-ranking-wrapper {
                display: none;
            }

            div#line-chart {
                display: block;
            }

            div#pie-chart-wrapper {
                display: none;
            }
        }

        &[data-show-game-end-item="pie-charts"] {
            div#team-ranking-wrapper {
                display: none;
            }

            div#line-chart {
                display: none;
            }

            div#pie-chart-wrapper {
                display: block;
            }
        }
    }

    /* In the presentation window, the buzz history charts are in a presentation slide not a popup. */
    &#buzz-history-chart-popup {
        background: #88cccc;
        border: 1px solid turquoise;

        svg {
            background-color: white;
        }
    }

}