/* https://codepen.io/oknoblich/pen/tfjFl */
/* Now is an error 404. Author was Oliver Knoblich. */

div.tab-content {
    display: none;
    padding-top: 10px;
    border-top: 1px solid var(--light-foreground-color);
}

label[for^="tab"] {
    --color-inactive: #555;

    display: inline-block;
    margin: 0 0 -1px;
    padding: 0px 10px 0px;
    text-align: center;
    color: var(--color-inactive);
    border: 1px solid var(--color-inactive);
    border-bottom: none;
    border-radius: 4px 4px 0px 0px;

    &:hover {
        --color-inactive-hover: #777;
        color: var(--color-inactive-hover);
        border-color: var(--color-inactive-hover);
        cursor: pointer;
    }
}

input[type="radio"] {
    display: none;

    &:checked+label {
        color: var(--light-foreground-color);
        border: 1px solid var(--light-foreground-color);
        /* border-bottom: 2px solid var(--light-foreground-color); */

        &:hover {
            cursor: default;
        }
    }

    &#tab-music:checked~div#tab-content-music,
    &#tab-play:checked~div#tab-content-play,
    &#tab-developer:checked~div#tab-content-developer,
    &#tab-load-game:checked~div#tab-content-load-game,
    &#tab-game-settings:checked~div#tab-content-game-settings {
        display: block;
    }
}