body {
    font-family: sans-serif;
    font-size: large;
}

input[type="text"] {
    text-align: right;
    width: 60px;
}

td {
    padding-bottom: 30px;
    padding-right: 5px;

    &.team-name {
        text-align: right;
    }
}

button, input {
    font-size: inherit;
}
