body {
  height: 100vh;
  width: 100vw;
  font-family: sans-serif;
  background-color: #0b2191;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  overflow: hidden; }

div#spinner {
  border: 10px solid rgba(255, 255, 255, 0.2);
  border-left-color: white;
  animation: spin 0.5s infinite linear;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  position: absolute;
  box-sizing: border-box; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
div#paused {
  background-color: #ffa900;
  color: black;
  font-weight: bold;
  position: absolute;
  font-size: 30px;
  border-radius: 20px;
  padding: 20px;
  border: 1px solid darkorange;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.2);
  filter: drop-shadow(10px 13px rgba(0, 0, 0, 0.4));
  top: 100px; }

header {
  height: 70px;
  font-family: swiss911;
  font-size: 60px;
  letter-spacing: 2px;
  text-shadow: 3px 3px 0px black, 5px 5px 0px black, 7px 7px 0px black, 9px 9px 0px black, 11px 11px 0px black; }
  header div#category {
    text-transform: uppercase;
    display: inline-block; }
  header div#dollars {
    color: #e3a147;
    display: inline-block;
    position: absolute;
    right: 8px; }

main {
  height: calc(100vh - 70px - 120px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 100px; }
  main div.slide {
    display: none; }
    main div.slide#slide-event-cost img#cost-chart {
      filter: drop-shadow(2px 2px 0px black) drop-shadow(2px 2px 0px black) drop-shadow(2px 2px 0px black) drop-shadow(2px 2px 0px black) drop-shadow(2px 2px 0px black) drop-shadow(2px 2px 0px black) drop-shadow(2px 2px 0px black) drop-shadow(2px 2px 0px black) drop-shadow(2px 2px 0px black) drop-shadow(2px 2px 0px black) drop-shadow(2px 2px 0px black) drop-shadow(2px 2px 0px black) ; }
    main div.slide#slide-jeopardy-logo {
      width: 100%;
      height: 100%; }
      main div.slide#slide-jeopardy-logo img {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto; }
    main div.slide#slide-game-rules {
      font-size: 30px;
      font-weight: bold;
      line-height: 150%;
      text-shadow: 3px 3px 0px black, 5px 5px 0px black, 7px 7px 0px black, 9px 9px 0px black; }
      main div.slide#slide-game-rules li {
        margin-bottom: 25px; }
    main div.slide#slide-buzzer-test {
      font-size: 90px;
      font-family: Korinna;
      text-shadow: 3px 3px 0px black, 5px 5px 0px black, 7px 7px 0px black, 9px 9px 0px black, 11px 11px 0px black;
      text-transform: uppercase;
      letter-spacing: 3px;
      text-align: center; }
    main div.slide#slide-jeopardy-logo img#logo-jeopardy-shadow {
      z-index: -1;
      filter: brightness(0) blur(2px) opacity(0.6);
      transform: translateY(35px) scale(0.9); }
    main div.slide#slide-pre-question {
      font-family: swiss911;
      text-shadow: 3px 3px 0px black, 5px 5px 0px black, 7px 7px 0px black, 9px 9px 0px black, 11px 11px 0px black;
      font-size: 80px;
      text-align: center;
      text-transform: uppercase; }
      main div.slide#slide-pre-question div#dollars-big {
        color: #e3a147; }
    main div.slide#slide-clue-question {
      text-align: center;
      font-family: korinna;
      font-size: 80px;
      text-transform: uppercase;
      text-shadow: 3px 3px 0px black, 5px 5px 0px black, 7px 7px 0px black, 9px 9px 0px black, 11px 11px 0px black;
      word-spacing: 10px; }
    main div.slide#slide-clue-answer {
      text-shadow: 3px 3px 0px black, 5px 5px 0px black, 7px 7px 0px black, 9px 9px 0px black;
      font-size: 60px; }

footer {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 120px; }
  footer div.team {
    padding: 10px;
    text-align: center;
    flex: 1; }
    footer div.team[data-team-state="buzzers-off"], footer div.team[data-team-state="reading-question"], footer div.team[data-team-state="already-answered"], footer div.team[data-team-state="lockout"] {
      opacity: 0.4; }
    footer div.team[data-team-state="buzzers-off"] table.countdown-dots {
      visibility: hidden; }
    footer div.team[data-team-state="answering"] {
      font-weight: bold;
      background-color: white;
      font-weight: bold;
      color: black; }
    footer div.team div.team-dollars {
      font-family: swiss911;
      font-size: 40px;
      text-shadow: 3px 3px 0px black; }
    footer div.team[data-team-state="answering"] div.team-dollars {
      text-shadow: 2px 2px 0px lightgray; }
    footer div.team div.team-name {
      font-size: 20px; }
    footer div.team table.countdown-dots {
      margin-left: auto;
      margin-right: auto;
      border-collapse: collapse;
      margin-bottom: 10px; }
      footer div.team table.countdown-dots td {
        border: 2px solid gray;
        width: 30px;
        height: 13px; }
        footer div.team table.countdown-dots td.active {
          background-color: red; }
      footer div.team table.countdown-dots.paused td.active {
        background-color: firebrick; }
    footer div.team progress {
      display: none; }

/*# sourceMappingURL=presentation.css.map */
