body {
  font-family: sans-serif;
  background-color: #0b2191;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  overflow: hidden; }

div#slideJeopardyLogo {
  width: 100%;
  height: 100%; }
  div#slideJeopardyLogo img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto; }

div#slideGameRules {
  font-size: 30px;
  font-weight: bold;
  line-height: 150%;
  text-shadow: 3px 3px 0px black, 5px 5px 0px black, 7px 7px 0px black, 9px 9px 0px black; }
  div#slideGameRules li {
    margin-bottom: 25px; }

div#slideBuzzerTest {
  font-size: 90px;
  font-family: Korinna;
  text-shadow: 3px 3px 0px black, 5px 5px 0px black, 7px 7px 0px black, 9px 9px 0px black, 11px 11px 0px black;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center; }

img#logo-jeopardy-shadow {
  z-index: -1;
  filter: brightness(0) blur(2px) opacity(0.6);
  transform: translateY(35px) scale(0.9); }

div#spinner {
  border: 10px solid rgba(255, 255, 255, 0.2);
  border-left-color: white;
  animation: spin 0.5s infinite linear;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  position: absolute;
  box-sizing: border-box; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
div#paused {
  background-color: #ffa900;
  color: black;
  font-weight: bold;
  position: absolute;
  font-size: 30px;
  border-radius: 20px;
  padding: 20px;
  border: 1px solid darkorange;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.2);
  filter: drop-shadow(10px 13px rgba(0, 0, 0, 0.4));
  top: 100px; }

header {
  height: 70px;
  font-family: swiss911;
  font-size: 60px;
  letter-spacing: 2px;
  text-shadow: 3px 3px 0px black, 5px 5px 0px black, 7px 7px 0px black, 9px 9px 0px black, 11px 11px 0px black; }
  header div#category {
    text-transform: uppercase;
    display: inline-block; }
  header div#dollars {
    color: #e3a147;
    display: inline-block;
    position: absolute;
    right: 8px; }

main {
  height: calc(100vh - 70px - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 100px; }
  main div#pre-question {
    font-family: swiss911;
    text-shadow: 3px 3px 0px black, 5px 5px 0px black, 7px 7px 0px black, 9px 9px 0px black, 11px 11px 0px black;
    font-size: 80px;
    text-align: center;
    text-transform: uppercase; }
    main div#pre-question div#dollars-big {
      color: #e3a147; }
  main div#clue {
    text-align: center;
    font-family: korinna;
    font-size: 80px;
    text-transform: uppercase;
    text-shadow: 3px 3px 0px black, 5px 5px 0px black, 7px 7px 0px black, 9px 9px 0px black, 11px 11px 0px black;
    word-spacing: 10px; }
  main div#clue-answer {
    text-shadow: 3px 3px 0px black, 5px 5px 0px black, 7px 7px 0px black, 9px 9px 0px black;
    font-size: 60px; }

footer {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  width: 100%;
  /*position: absolute; // this makes the backgound image on <body> not go to the bottom of the page*/
  bottom: 0px;
  left: 0px;
  height: 100px; }
  footer div.team {
    padding: 10px;
    text-align: center;
    flex: 1; }
    footer div.team.buzzer-closed {
      opacity: 0.4; }
    footer div.team.answering {
      background-color: rgba(255, 255, 255, 0.3);
      font-weight: bold; }
    footer div.team div.team-dollars {
      font-family: swiss911;
      font-size: 30px;
      text-shadow: 3px 3px 0px black; }
    footer div.team div.team-name {
      /*! supress netbeans warning */ }
    footer div.team table.countdown-dots {
      margin-left: auto;
      margin-right: auto;
      border-collapse: collapse;
      margin-bottom: 10px; }
      footer div.team table.countdown-dots td {
        border: 2px solid gray;
        width: 14px;
        height: 8px; }
        footer div.team table.countdown-dots td.active {
          background-color: red; }
      footer div.team table.countdown-dots.paused td.active {
        background-color: firebrick; }

img#cost-chart {
  filter: drop-shadow(1px 1px 0px black) drop-shadow(1px 1px 0px black) drop-shadow(1px 1px 0px black) drop-shadow(1px 1px 0px black) drop-shadow(1px 1px 0px black) drop-shadow(1px 1px 0px black) drop-shadow(1px 1px 0px black) drop-shadow(1px 1px 0px black) drop-shadow(1px 1px 0px black) drop-shadow(1px 1px 0px black) drop-shadow(1px 1px 0px black) drop-shadow(1px 1px 0px black); }

div.slide {
  display: none; }

/*# sourceMappingURL=presentation.css.map */
