table#game-board {
    width: calc(100vw - 100px);
    margin-left: 50px;

    text-shadow: 3px 3px black, 5px 5px black, 7px 7px black;
    font-family: swiss911, sans-serif;

    td {
        border: 3px solid #000;
        padding: 5px 0px;
    }

    tr#categories {
        font-size: 30px;

        div.special-category-icon-wrapper {
            filter: drop-shadow(5px 5px black);
        }
    }

    tr.clues {

        color: var(--color-money);
        letter-spacing: 2px;
        font-size: 50px;

        td[data-clue-state="available"] {
            &.hover-in-operator-window {
                background-color: rgba(255, 255, 255, 0.4);
                font-weight: bold;
                color: #ffbb55;
            }

            &.active-in-operator-window {
                background-color: white;
                color: black;
                text-shadow: 3px 3px lightgray, 5px 5px lightgray, 7px 7px lightgray;
            }
        }
    }
}