:root {
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties#using_the_root_pseudo-class */

    --height-header: 80px;
    --height-footer: 180px;

    --color-money: #e3a147;
    --color-airdate: #8e99d8;

    --text-shadow-big: 3px 3px #000, 5px 5px #000, 7px 7px #000, 9px 9px #000, 11px 11px #000;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: sans-serif;
    background-color: #0b2191;
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    overflow: hidden;
}

div#spinner {
    /* https://projects.lukehaas.me/css-loaders/ */
    border: 10px solid rgba(255, 255, 255, 0.2);
    border-left-color: white;
    animation: spin 0.5s infinite linear;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    box-sizing: border-box;
}

@keyframes spin {

    /* https://projects.lukehaas.me/css-loaders/ */
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

div#paused {
    background-color: #ffa900;
    color: black;
    font-weight: bold;
    position: absolute;
    top: 110px;
    font-size: 30px;
    border-radius: 20px;
    padding: 20px;
    border: 1px solid darkorange;

    /* shadow on the text inside the div */
    text-shadow: 3px 3px rgba(0, 0, 0, 0.2);

    /* shadow on the entire div */
    filter: drop-shadow(10px 13px rgba(0, 0, 0, 0.4));
}

header {
    height: var(--height-header);
    font-family: swiss911;
    font-size: 60px;
    letter-spacing: 2px;
    text-shadow: var(--text-shadow-big);
    padding-top: 5px;
    text-transform: uppercase;

    span#clue-airdate-in-header {
        color: var(--color-airdate);
        font-size: 75%;
    }

    span#clue-value-in-header {
        color: var(--color-money);
        position: absolute;
        right: 8px;
    }

    progress#game-timer {
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        height: 8px;
    }

    progress#state-machine {
        width: 100%;
        height: 8px;
        display: block;
    }
}

main {
    height: calc(100vh - var(--height-header) - var(--height-footer));
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 100px;

    div.presentation-slide {
        display: none;

        &#slide-jeopardy-logo {
            /* need special treatment to get the logo and shadow to center */
            width: 100%;
            height: 100%;

            img {
                position: absolute;

                /* https://stackoverflow.com/a/17624161 */
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
            }

            img#logo-jeopardy-shadow {
                z-index: -1;
                filter: brightness(0) blur(2px) opacity(0.6);
                transform: translateY(35px) scale(0.9);
            }
        }

        &#slide-clue-category-and-value {
            font-family: swiss911;
            text-shadow: var(--text-shadow-big);
            font-size: 80px;
            text-align: center;
            text-transform: uppercase;

            div#clue-value-big {
                color: var(--color-money);
            }

            div#clue-airdate-big {
                color: var(--color-airdate);
                font-size: 75%;
            }
        }

        &#slide-clue-question {
            text-align: center;
            font-family: korinna;
            font-size: 80px;
            text-transform: uppercase;
            text-shadow: var(--text-shadow-big);
            word-spacing: 10px;
        }

        &#slide-clue-answer {
            text-shadow: var(--text-shadow-big);
            font-size: 60px;

            div#clue-answer-text {
                font-weight: bold;
            }
        }

        &#slide-gameEnd-team-ranking-table {
            div#team-ranking {
                font-size: 40px;
                text-shadow: var(--text-shadow-big);

                p {
                    text-align: center;
                }

                table td {
                    padding-right: 60px;

                    &:nth-of-type(2) {
                        text-align: right;
                    }
                }
            }
        }
    }
}

footer {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: var(--height-footer);

    div.team {
        padding: 10px;
        text-align: center;
        flex: 1;

        &[data-team-state="lockout"]:not(progress) {
            opacity: 0.4;
        }

        &[data-team-state="buzzers-off"] table.countdown-dots {
            visibility: hidden;
        }

        &[data-team-state="answering"] {
            font-weight: bold;
            background-color: white;
            font-weight: bold;
            color: black;

            div.team-money {
                text-shadow: 2px 2px 0px lightgray;
            }
        }

        div.team-money {
            font-family: swiss911;
            font-size: 40px;
            text-shadow: 3px 3px 0px black;
        }

        div.team-name {
            font-size: 20px;
        }

        table.countdown-dots {
            margin-left: auto;
            margin-right: auto;
            border-collapse: collapse;
            margin-bottom: 10px;

            td {
                border: 2px solid gray;
                width: 30px;
                height: 13px;

                &.active {
                    background-color: red;
                }
            }

            &.paused td.active {
                background-color: firebrick;
            }
        }

        div.buzzer-show {
            img {
                /* TODO why do we need to set the z-index? */
                z-index: -2;
                width: 100px;
                margin-bottom: 5px;
            }

            &.not-pressed img.buzzer-pressed {
                display: none;
            }

            &.pressed img.buzzer-not-pressed {
                display: none;
            }
        }
    }
}

body.hide-header-and-footer {
    header {
        display: none;
    }

    /*
     Normally, the <main> element has its height set to be 
     100vh minus the height of the header and footer. When 
     the header and footer are hidden, we should make the
     <main> element take up the entire height of the window.
     */
    main {
        height: 100%;
    }

    footer {
        display: none;
    }
}

h1,
h2 {
    text-align: center;
}