:root {
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties#using_the_root_pseudo-class */

    --color-money: #e3a147;

    --text-shadow-big: 3px 3px black, 5px 5px black, 7px 7px black, 9px 9px black, 11px 11px #000;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    background-color: #0b2191;
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

table {
    border-collapse: collapse;
}

header {

    font-family: "swiss911", sans-serif;

    font-size: 60px;
    letter-spacing: 2px;
    text-shadow: var(--text-shadow-big);
    padding-top: 5px;
    text-transform: uppercase;

    span#clue-value-in-header {
        color: var(--color-money);
        position: absolute;
        right: 8px;
    }

    progress#game-round-timer {
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        height: 8px;
    }

    progress#state-machine {
        width: 100%;
        height: 8px;
        display: block;
    }

    /* Hide text, only show progress bars */
    &[data-header-display="minimized"] {

        progress#state-machine {
            margin-top: 20px;
        }

        span {
            /* Hide category name and clue value */
            display: none;
        }
    }

    &[data-header-display="none"] {
        /* Hide the entire <header> */
        display: none;
    }
}

main {

    /* Make the CONTENTS of the <main> use flex layout */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Allow auto text sizing of the clue question to work. It checks if the slide is bigger than <main> */
    overflow: hidden;

    div.presentation-slide {
        /* Hide all the slides by default. One slide will be shown by setting style="display:block" */
        display: none;

        &#slide-jeopardy-logo {

            img {
                /* https://stackoverflow.com/a/17624161 */
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;

                &#logo-jeopardy-shadow {
                    z-index: -1;
                    filter: brightness(0) blur(2px) opacity(0.6);
                    transform: translateY(35px) scale(0.9);
                }
            }
        }


        &#slide-round-start {
            font-size: 70px;
            text-shadow: var(--text-shadow-big);
        }

        &#slide-clue-category-and-value {
            font-family: "swiss911", sans-serif;
            text-shadow: var(--text-shadow-big);
            font-size: 80px;
            text-align: center;
            text-transform: uppercase;

            div#clue-value-big {
                color: var(--color-money);
            }

        }

        &#slide-clue-question {
            text-align: center;
            font-family: "korinna", serif;
            font-size: 80px;
            text-transform: uppercase;
            text-shadow: var(--text-shadow-big);
            word-spacing: 10px;
        }

        &#slide-clue-answer {
            text-shadow: var(--text-shadow-big);
            font-size: 60px;

            div#clue-answer-text {
                font-weight: bold;
            }

            table#final-jeopardy-wagers {

                td {
                    /* top, right , bottom, left */
                    padding: 10px 20px 15px 10px;

                }
            }

        }

        &#slide-gameEnd-team-ranking-table {
            div#team-ranking {
                font-size: 40px;
                text-shadow: var(--text-shadow-big);

                p {
                    text-align: center;
                }

                table td {
                    padding-right: 60px;

                    &:nth-of-type(2) {
                        text-align: right;
                    }
                }
            }
        }

        &#slide-game-board {
            width: 100%;

        }
    }
}

footer {

    &[data-footer-display="minimized"] div.team {
        /* Show only team name and team money */

        div.buzzer-show,
        table.countdown-dots {
            display: none;
        }
    }

    &[data-footer-display="none"] {
        /* Hide the entire <footer> */
        display: none;
    }

    div.team {

        --text-shadow-color: black;
        text-shadow: 3px 3px 0px var(--text-shadow-color);

        &[data-team-state="answering"] {
            --text-shadow-color: lightgray;
        }

        &[data-team-state="lockout"]:not(progress) {
            opacity: 0.4;
        }

        &:not([data-team-state="lockout"]) progress {
            visibility: hidden;
        }

        table.countdown-dots {
            margin-bottom: 10px;

            td {
                border: 2px solid gray;
                width: 30px;
                height: 13px;
            }

            &:not(.paused) td.active {
                background-color: red;
            }

            &.paused td.active {
                background-color: firebrick;
            }
        }

        div.buzzer-show {
            img {
                width: 100px;
                margin-bottom: 5px;
            }

            &.not-pressed img.buzzer-pressed {
                display: none;
            }

            &.pressed img.buzzer-not-pressed {
                display: none;
            }
        }

        div.team-money {
            font-family: "swiss911", sans-serif;
            font-size: 40px;
        }

        div.team-name {
            font-size: 20px;
        }


    }
}

h1,
h2 {
    text-align: center;
}