progress {

    /* 
    "Foreground" means the rectangle that grows as progress is made.
    "Background" means the entire <progress> element.

    https://developer.mozilla.org/en-US/docs/Web/CSS/::-moz-progress-bar
    https://developer.mozilla.org/en-US/docs/Web/CSS/::-webkit-progress-value
    https://developer.mozilla.org/en-US/docs/Web/CSS/::-webkit-progress-bar
    */

    &[value] {
        /* Applies when the <progress> has the "value" attribute. */
        --background: #0066ff;
        --foreground-default: red;
        --foreground-paused: darkred;
        --foreground-lockout: orange;
        --foreground-lockout-and-paused: purple;
    }


    &:not([value]) {
        /*
        Diagonal stripes when the <progress> element does not have the "value" attribute.
        Try colors here: https: //codepen.io/chriscoyier/pen/MWWvBw
        */
        --stripe-color-1: #ddd;
        --stripe-color-2: #eee;
    }

}