progress {
    /* https://css-tricks.com/html5-progress-element/ */

    /* first, turn off the built-in default style */
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    border: none;

    --background: #0066ff;
    --foreground-default: red;
    --foreground-paused: darkred;
    --foreground-lockout: orange;
    --foreground-lockout-and-paused: purple;

    &[value] {

        /* Background of bar in mozilla (the background-color property is applied to the entire <progress> element) */
        background-color: var(--background);

        &::-webkit-progress-bar {
            background-color: var(--background);
        }

        /* The rules below set the foreground color for various states. */
        &:not(.paused):not(.lockout) {

            &::-moz-progress-bar,
            &::-webkit-progress-value {
                background-color: var(--foreground-default);
            }
        }

        &.paused:not(.lockout) {

            &::-webkit-progress-value,
            &::-moz-progress-bar {
                background-color: var(--foreground-paused);
            }
        }

        &.lockout:not(.paused) {

            &::-moz-progress-bar,
            &::-webkit-progress-value {
                background-color: var(--foreground-lockout);
            }
        }

        &.lockout.paused {

            &::-webkit-progress-value,
            &::-moz-progress-bar {
                background-color: var(--foreground-lockout-and-paused);
            }

        }
    }

    &:not([value]) {
        /*
        Add diagonal stripes when the <progress>element does not have the "value" attribute.

        Originally from https://www.pexels.com/blog/css-only-loaders/
        Try colors here: https://codepen.io/chriscoyier/pen/MWWvBw
        */
        --color1: #ddd;
        --color2: #eee;
        --size: 10px;

        &::-webkit-progress-bar,
        &::-moz-progress-bar {
            background-image: repeating-linear-gradient(-45deg,
                    var(--color1),
                    var(--color1) var(--size),
                    var(--color2) var(--size),
                    var(--color2) calc(2 * var(--size)));
        }
    }
}