body {
    font-family: sans-serif;
    overflow-x: hidden;
    font-size: 20px;
}

main {
    line-height: 150%;

    input,
    button {
        font-size: inherit;
    }

    input[type="checkbox"] {
        width: 20px;
        height: 20px;
    }

    div.tab-content {
        //////////////////////////////////////////
        &#content-setup {
            div#saved-game-prompt {
                border: 1px solid black;
                display: inline-block;
                padding: 15px;
                border-radius: 10px;
                background-color: lightyellow;

                table#saved-game-details {
                    border-collapse: collapse;
                    td {
                        border: 1px solid black;
                        padding: 5px 10px 5px 10px;
                    }
                }
            }
        }
        //////////////////////////////////////////
        &#content-game {
            div#instructions {
                font-weight: bold;
            }

            div#clue-wrapper {
                border: 1px solid black;
                border-radius: 30px;
                padding: 20px;

                span.clue-keyword {
                    font-weight: bold;
                }
            }

            div#state-machine-viz,
            div#game-timer {
                progress {
                    width: 100%;
                    height: 35px;
                }

                div {
                    margin-top: -34px;
                    &#remaining-time-text {
                        text-align: right;
                    }
                }
            }
        }
        //////////////////////////////////////////
        &.content-settings {
            table#table-settings {
                td {
                    padding-bottom: 20px;
                }

                input[type="number"] {
                    width: 100px;
                    text-align: right;
                }
            }
        }
        //////////////////////////////////////////
    }
}

div#paused {
    background-color: #ffa900;
    color: black;
    font-weight: bold;
    position: absolute;
    font-size: 30px;
    border-radius: 20px;
    padding: 20px;
    border: 1px solid darkorange;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.2);
    filter: drop-shadow(10px 13px rgba(0, 0, 0, 0.4));
    bottom: 160px;
}

footer {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    width: 100%;
    position: absolute;
    bottom: 15px;
    height: 115px;

    border-top: 1px solid white;

    div.team {
        text-align: center;
        flex: 1;

        &[data-team-state="answering"] {
            background-color: orange;
            font-weight: bold;
        }

        progress {
            width: 100%;
        }
    }
}
