div#special-category-popup {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: lightyellow;
    border-radius: 20px;
    padding: 50px;
    border: 1px solid yellow;
    filter: drop-shadow(3px 3px 3px gray);
    width: 80%;
    height: 80%;
    z-index: 1;

    #special-category-title {
        font-size: 60px;
    }

    div#special-category-example-wrapper {

        border: 1px solid gray;
        padding: 20px;
        border-radius: 10px;

        table#special-category-example-table {
            border-collapse: collapse;
            line-height: 200%;

            td:nth-of-type(1) {
                font-weight: bold;
                padding-right: 10px;
            }

        }
    }

    div#info-icon {
        border: 10px solid blue;
        border-radius: 50%;
        display: inline-block;
        width: 100px;
        height: 100px;
        text-align: center;
        font-weight: bold;
        color: blue;
        font-size: 80px;
        font-family: monospace;
        margin-bottom: 10px;
        margin-right: 20px;
    }
}