/*
This stylesheet gets added with the Chartist stylesheet:
"node_modules/chartist/dist/index.scss"
*/

div#statistics-chart-popup div#pie-chart-wrapper {
    div#pie-charts {
        // https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        div.team-pie-chart {
            padding: 10px;
            position: relative;
            text-align: center;

            svg.ct-chart-donut {
                g.ct-series {
                    &.not-buzzed path.ct-slice-donut {
                        stroke: gray;
                    }

                    &.buzzed-then-answered-right path.ct-slice-donut {
                        stroke: green;
                    }

                    &.buzzed-then-answered-wrong-or-timed-out path.ct-slice-donut {
                        stroke: red;
                    }
                }

                .ct-label {
                    fill: white;
                    stroke-width: 6px;
                    stroke: black;
                    paint-order: stroke;
                    font-size: 30px;
                }
            }

            div.chart-title {
                // https://stackoverflow.com/a/23703655
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
            }
        }
    }

    div#pie-chart-legend {
        margin-top: 50px;

        div.pie-chart-legend-row {
            height: 30px;

            span.color-swatch {
                display: inline-block;
                width: 20px;
                height: 20px;
                vertical-align: middle;
            }

            &#not-buzzed span.color-swatch {
                background-color: gray;
            }

            &#buzzed-then-answered-right span.color-swatch {
                background-color: green;
            }

            &#buzzed-then-answered-wrong-or-timed-out span.color-swatch {
                background-color: red;
            }
        }
    }
}

div#statistics-chart-popup div#line-chart-wrapper {
    g.ct-series {
        $series-colors: red, orange, green, gray;
        $team-count: 8;

        @for $i from 0 to $team-count {
            &.team-#{$i + 1} {
                $indexStartingAtOne: ($i % length($series-colors))+1;
                stroke: nth($series-colors, $indexStartingAtOne);

                @if $i >=length($series-colors) {
                    stroke-dasharray: 5;
                    stroke-linecap: butt;
                }
            }
        }
    }

    div#line-chart {
        display: inline-block;
        vertical-align: middle;

        svg.ct-chart-line {
            g.ct-grids line {
                stroke: gray;
            }

            g.ct-labels span {
                color: black;
            }
        }
    }

    div#y-axis-label {
        transform: rotate(-90deg);
        display: inline-block;
    }

    div#x-axis-label {
        text-align: center;
    }

    div#line-chart-legend {
        display: inline-block;
        vertical-align: middle;
        margin-left: 30px;

        div.line-chart-legend-row {
            margin-bottom: 20px;
        }

        svg {
            vertical-align: middle;
            margin-right: 10px;
        }
    }
}
