body {
    font-family: sans-serif;

    table {
        border-collapse: collapse;

        td {
            padding-bottom: 50px;

            button,
            input {
                font-size: inherit;
            }

            input[type="text"] {
                text-align: right;
                width: 50px;
            }
        }
    }
}
