svg#buzz-history {
    background: none;

    text {
        fill: white;

        &.team-name {
            font-size: 20px;
        }
    }

    g#axis {
        text {
            font-size: 20px;
        }

        path.domain,
        g.tick line {
            stroke: white;
        }
    }

    rect.row-shaded-background-even {
        fill: #112266;
    }

    rect.row-shaded-background-odd {
        fill: #223388;
    }

    line.row-separator,
    line.vertical-line {
        stroke: white;
        stroke-width: 1;
    }

    rect.buzz-record {

        stroke: white;
        stroke-width: 1;

        &.too-early-start-lockout {
            fill: orange;
        }

        &.answered-right {
            fill: green;
        }

        &.answered-wrong {
            fill: red;
        }

    }

    circle.buzzer-press {
        fill: white;
        stroke-width: 0;
    }


}