$height-header: 80px;
$height-footer: 180px;

@function big-shadow($count) {
    $result: "";
    @for $i from 0 to $count {
        $size: ($i + 1) * 2 + 1;
        $result: $result + $size + "px " + $size + "px 0px black";
        @if $i + 1 < $count {
            $result: $result + ", ";
        }
    }
    @return unquote($result);
}
$big-shadow: big-shadow(5);
$slightly-smaller-shadow: big-shadow(4);

@function repeat($value, $count) {
    // used to repeat drop-shadow filter
    $result: "";
    @for $i from 0 to $count {
        $result: $result + $value + " ";
    }
    @return unquote($result);
}

$color-dollars: #e3a147;

body {
    height: 100vh;
    width: 100vw;
    font-family: sans-serif;
    background-color: #0b2191;
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    overflow: hidden;
}

div#spinner {
    // https://projects.lukehaas.me/css-loaders/
    border: 10px solid rgba(255, 255, 255, 0.2);
    border-left-color: white;
    animation: spin 0.5s infinite linear;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    box-sizing: border-box;
}
@keyframes spin {
    // https://projects.lukehaas.me/css-loaders/
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

div#paused {
    background-color: #ffa900;
    color: black;
    font-weight: bold;
    position: absolute;
    top: 110px;
    font-size: 30px;
    border-radius: 20px;
    padding: 20px;
    border: 1px solid darkorange;

    // shadow on the text inside the div
    text-shadow: 3px 3px rgba(0, 0, 0, 0.2);

    // shadow on the entire div
    filter: drop-shadow(10px 13px rgba(0, 0, 0, 0.4));
}

header {
    height: $height-header;
    font-family: swiss911;
    font-size: 60px;
    letter-spacing: 2px;
    text-shadow: $big-shadow;
    padding-top: 5px;

    div#category {
        text-transform: uppercase;
        display: inline-block;
    }

    div#dollars {
        color: $color-dollars;
        display: inline-block;
        position: absolute;
        right: 8px;
    }

    progress#game-timer {
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        height: 8px;
    }

    progress#state-machine {
        width: 100%;
        height: 8px;
        display: block;
    }
}

main {
    height: calc(100vh - #{$height-header} - #{$height-footer});
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 100px;

    div.presentation-slide {
        display: none;

        &#slide-jeopardy-logo {
            // need special treatment to get the logo and shadow to center
            width: 100%;
            height: 100%;

            img {
                position: absolute;

                // https://stackoverflow.com/a/17624161
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
            }

            img#logo-jeopardy-shadow {
                z-index: -1;
                filter: brightness(0) blur(2px) opacity(0.6);
                transform: translateY(35px) scale(0.9);
            }
        }

        &#slide-clue-category-and-dollars {
            font-family: swiss911;
            text-shadow: $big-shadow;
            font-size: 80px;
            text-align: center;
            text-transform: uppercase;

            div#dollars-big {
                color: $color-dollars;
            }
        }

        &#slide-clue-question {
            text-align: center;
            font-family: korinna;
            font-size: 80px;
            text-transform: uppercase;
            text-shadow: $big-shadow;
            word-spacing: 10px;
        }

        &#slide-clue-answer {
            text-shadow: $slightly-smaller-shadow;
            font-size: 60px;
        }

        &#slide-gameEnd-team-ranking-list {
            div#team-ranking {
                font-size: 40px;
                text-shadow: $big-shadow;
                p {
                    text-align: center;
                }
                table td {
                    padding-right: 60px;

                    &:nth-of-type(2) {
                        text-align: right;
                    }
                }
            }
        }

        &#slide-gameEnd-pie-charts {
            div#pie-charts {
                // https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;

                div.team-pie-chart {
                    padding: 20px;
                    position: relative;

                    div.chart-title {
                        // https://stackoverflow.com/a/23703655
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translateX(-50%) translateY(-50%);
                    }
                }
            }

            div#chart-legend {
                margin-top: 50px;

                div.legend-row {
                    height: 30px;

                    span.color-swatch {
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        vertical-align: middle;
                    }

                    &#not-buzzed span.color-swatch {
                        background-color: gray;
                    }
                    &#buzzed-then-answered-right span.color-swatch {
                        background-color: green;
                    }
                    &#buzzed-then-answered-wrong-or-timed-out span.color-swatch {
                        background-color: red;
                    }
                }
            }
        }
    }
}

footer {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: $height-footer;

    div.team {
        padding: 10px;
        text-align: center;
        flex: 1;

        &[data-team-state="lockout"]:not(progress) {
            opacity: 0.4;
        }

        &[data-team-state="buzzers-off"] table.countdown-dots {
            visibility: hidden;
        }

        &[data-team-state="answering"] {
            font-weight: bold;
            background-color: white;
            font-weight: bold;
            color: black;

            div.team-dollars {
                text-shadow: 2px 2px 0px lightgray;
            }
        }

        div.team-dollars {
            font-family: swiss911;
            font-size: 40px;
            text-shadow: 3px 3px 0px black;
        }

        div.team-name {
            font-size: 20px;
        }

        table.countdown-dots {
            margin-left: auto;
            margin-right: auto;
            border-collapse: collapse;
            margin-bottom: 10px;
            td {
                border: 2px solid gray;
                width: 30px;
                height: 13px;

                &.active {
                    background-color: red;
                }
            }

            &.paused td.active {
                background-color: firebrick;
            }
        }

        div.buzzer-show {
            img {
                // TODO why do we need to set the z-index?
                z-index: -2;
                width: 100px;
                margin-bottom: 5px;
            }
            &.not-pressed img.buzzer-pressed {
                display: none;
            }
            &.pressed img.buzzer-not-pressed {
                display: none;
            }
        }
    }
}

body.hide-header-and-footer {
    header {
        display: none;
    }

    /*
     Normally, the <main> element has its height set to be 
     100vh minus the height of the header and footer. When 
     the header and footer are hidden, we should make the
     <main> element take up the entire height of the window.
     */
    main {
        height: 100%;
    }

    footer {
        display: none;
    }
}

h1,
h2 {
    text-align: center;
}
