/*
This stylesheet gets added with the Chartist stylesheet
"bower_components/chartist/dist/chartist.min.css"
*/

div#slide-gameEnd-pie-charts svg.ct-chart-donut {
    g.ct-series {
        &.not-buzzed path.ct-slice-donut {
            stroke: gray;
        }
        &.buzzed-then-answered-right path.ct-slice-donut {
            stroke: green;
        }
        &.buzzed-then-answered-wrong-or-timed-out path.ct-slice-donut {
            stroke: red;
        }
    }

    .ct-label {
        fill: white;
        stroke-width: 6px;
        stroke: black;
        paint-order: stroke;
        font-size: 40px;
    }
}

div#slide-gameEnd-line-chart {
    div#y-axis-label {
        transform: translate(-20px, 250px) rotate(-90deg);
        display: inline-block;
    }

    div#x-axis-label {
        text-align: center;
    }

    svg.ct-chart-line {
        g.ct-grids line {
            stroke: white;
        }
        g.ct-labels span {
            color: white;
        }
    }
}
