
$font-size: 26px;
body {
    font-family: sans-serif;
    overflow-x: hidden;
    font-size: $font-size;
}

input, button{
    font-size: $font-size;
}

main {
    line-height: 150%;
}

header {
    margin-bottom: 25px;
    font-size: 40px;
}

span.clue-keyword {
    font-weight: bold;
}

div#instructions {
    font-weight: bold;
}

div#clue {
    border: 1px solid black;
    border-radius: 30px;
    padding: 20px;
}


div#state-machine-viz {

    progress#countdown {
        width: 100%;
    }

    div {
        line-height: 100%;
        margin-top: -40px;
        font-size: 26px;
        &#remaining {
            text-align: right;
        }
    }
}

div#paused {
    background-color: #ffa900;
    color: black;
    font-weight: bold;
    position: absolute;
    font-size: 30px;
    border-radius: 20px;
    padding: 20px;
    border: 1px solid darkorange;
    text-shadow: 3px 3px rgba(0,0,0,0.2);
    filter: drop-shadow(10px 13px rgba(0,0,0,0.4));
    bottom: 120px;
}

footer {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    width: 100%;
    position: absolute;
    bottom: 15px;
    height: 80px;

    border-top: 1px solid white;

    div.team {
        text-align: center;
        flex: 1;

        &.answering {
            background-color: orange;
            font-weight: bold;
        }            
    }

    div.team-name, div.team-dollars, div.team-state, progress.time-left {
        /*! supress netbeans warning */
    }

}   




span.key-shortcut-letter {
    text-decoration: underline;
}

table#table-settings {
    input[type="number"] {
        width: 60px;
    }


}

progress {
    // https://css-tricks.com/html5-progress-element/

    // first, turn off the built-in default style
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    border: none;

    &[value] {
        &::-webkit-progress-bar{
            // background of bar in Chrome
            background-color: lightgray;
        }

        &::-moz-progress-bar {
            // foreground of bar in Firefox
            background-color: limegreen;
        }

        &::-webkit-progress-value {
            // foreground of bar in Chrome
            background-color: limegreen;
        }

        &.paused {
            &::-webkit-progress-value {
                // foreground of bar in Chrome
                background-color: darkgreen;
            }

            &::-moz-progress-bar {
                // foreground of bar in Firefox
                background-color: darkgreen;
            }
        }

        &.lockout {
            &::-moz-progress-bar {
                // foreground of bar in Firefox
                background-color: red;
            }

            &::-webkit-progress-value {
                // foreground of bar in Chrome
                background-color: red;
            }

            &.paused {
                &::-webkit-progress-value {
                    // foreground of bar in Chrome
                    background-color: darkred;
                }

                &::-moz-progress-bar {
                    // foreground of bar in Firefox
                    background-color: darkred;
                }
            }
        }
    }

    &:not([value]) {
        &::-webkit-progress-bar{

            // try colors here https://codepen.io/chriscoyier/pen/lAkyo
            $color1: #ddd;
            $color2: #eee;
            $size: 10px;

            // https://www.pexels.com/blog/css-only-loaders/
            // https://codepen.io/brunjo/pen/azdWjY
            background-image: 
                repeating-linear-gradient(
                -45deg,
                $color1,
                $color1 $size,
                $color2 $size,
                $color2 2*$size /* determines size */
                );
        }
    }
}


audio {
    display: none;
}