body {
    font-family: sans-serif;
    overflow-x: hidden;
}

header {
    margin-bottom: 25px;
    font-size: 20px;
}

span.clue-keyword {
    font-weight: bold;
}

div#instructions {
    font-size: 18px;
    font-weight: bold;
}

div#clue {
    border: 1px solid black;
    border-radius: 30px;
    padding: 20px;
}


progress#primary {
    width: 100%;
}

div#paused {
    background-color: #ffa900;
    color: black;
    font-weight: bold;
    position: absolute;
    font-size: 30px;
    border-radius: 20px;
    padding: 20px;
    border: 1px solid darkorange;
    text-shadow: 3px 3px rgba(0,0,0,0.2);
    filter: drop-shadow(10px 13px rgba(0,0,0,0.4));
    bottom: 120px;
}

footer {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    width: 100%;
    position: absolute;
    bottom: 5px;
    height: 80px;

    border-top: 1px solid white;

    div.team {
        text-align: center;
        flex: 1;

        &.answering {
            background-color: orange;
            font-weight: bold;
        }            
    }

    div.team-name, div.team-dollars, div.team-state, progress.time-left {
        /*! supress netbeans warning */
    }

}   




span.key-shortcut-letter {
    text-decoration: underline;
}

table#tableSettings {
    input[type="number"] {
        width: 60px;
    }


}


// https://css-tricks.com/html5-progress-element/
progress[value] {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    border: none;


    &::-webkit-progress-bar{
        // backgroudn of bar in Chrome
        background-color: lightgray;
    }

    &::-moz-progress-bar {
        // foreground of bar in Firefox
        background-color: lightgray;
    }

    &::-webkit-progress-value {
        // foreground of bar in Chrome
        background-color: limegreen;
    }

    &.paused {
        &::-webkit-progress-value {
            // foreground of bar in Chrome
            background-color: darkgreen;
        }
    }

}


audio {
    display: none;
}