// https://codepen.io/oknoblich/pen/tfjFl

body {
    font-family: sans-serif;
}

div.section {
    display: none;
    padding-top: 20px;
    border-top: 1px solid black;
}
nav {
    
}
label[for^="tab"] {
    $color-inactive: #bbb;
    
    display: inline-block;
    margin: 0 0 -1px;
    padding: 10px 20px;
    text-align: center;
    color: $color-inactive;
    border: 1px solid $color-inactive;
    border-bottom: none;
    border-radius: 4px 4px 0px 0px;

    &:hover {
        $color-inactive-hover: #777;
        color: $color-inactive-hover;
        border-color: $color-inactive-hover;
        cursor: pointer;
    }

}

input[type="radio"] {
    display: none;

    &:checked  + label {
        color: black; 
        border: 1px solid black;
        border-bottom: 1px solid #fff;

        &:hover {
            cursor: default;
        }
    }


    &#tabSetup:checked ~ div#contentSetup,
        &#tabOperate:checked ~ div#contentOperate,
        &#tabAdmin:checked ~ div#contentAdmin,
        &#tabSettings:checked ~ div#contentSettings
        {
        display: block;
    }

}




