svg#buzz-history {
    background: var(--chart-background);

    text {
        fill: var(--foreground-color);
        font-size: 20px;
    }

    g#legend text {
        font-size: initial;
    }

    g#axis {

        /* The domain is the long horizontal line */
        path.domain,
        /* Ticks are short vertical lines where text labels are */
        g.tick line {
            stroke: var(--foreground-color);
        }
    }

    g#grid {

        path.domain,
        g.tick text {
            display: none;
        }

        /* The grid is actually ticks extended to be the height of the entire chart */
        g.tick line {
            stroke: gray;
            stroke-dasharray: 2, 2;
        }
    }

    rect.row-shaded-background-even {
        fill: var(--row-background-even-fill);
    }

    rect.row-shaded-background-odd {
        fill: var(--row-background-odd-fill);
    }

    line.row-separator,
    line.vertical-line {
        stroke: var(--foreground-color);
        stroke-width: 1;
    }

    g.annotation {

        text {
            font-size: 12px;
        }

        path {
            stroke-linecap: round;
            stroke: var(--foreground-color);
            fill: none;
        }
    }

    rect.buzz-record {
        stroke: var(--foreground-color);
        stroke-width: 1;

        &.too-early-start-lockout {
            fill: orange;
        }

        &.answered-right {
            fill: green;
        }

        &.answered-wrong-or-timed-out {
            fill: red;
        }
    }

    circle.buzzer-press {
        fill: var(--foreground-color);
        stroke: none;
    }
}